<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHHqo_CSmgYEbSYtupeQmOQ3pSCkiNIbM</string>
	<key>GCM_SENDER_ID</key>
	<string>964161782456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buksamFlutterPracticum</string>
	<key>PROJECT_ID</key>
	<string>buksam-flutter-practicum</string>
	<key>STORAGE_BUCKET</key>
	<string>buksam-flutter-practicum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964161782456:ios:145a033f42af730fd76a4d</string>
</dict>
</plist>